<%= error_messages_for(f.object) %>

<div class="table" summary="section form fields">
  <div>
    <%= f.label(:position,) %>
    <%= f.select(:position, 1..@section_count) %>
  </div>

  <div>
    <%= f.label(:name) %>
    <%= f.text_field(:name) %>
  </div>

  <div>
    <%= f.label(:content) %>
    <%= f.text_area(:content, size: '40x10') %>
  </div>

  <div>
    <%= f.label(:content_type) %>
    <div class="inline-form">
      <%= f.radio_button(:content_type, 'text') %>
      <%= f.label(:content_type_text, 'Text') %>
      <%= f.radio_button(:content_type, 'html') %>
      <%= f.label(:content_type_html, 'Html')%>
    </div>
  </div>

  <div>
    <div class="inline-form">
      <%= f.label(:page, value: 'Belongs to page:')%>
      <%= f.object.page.name %>
    </div>
  </div>

  <div>
    <div class="inline-form">
      <%= f.label(:visible) %>
      <%= f.check_box(:visible) %>
    </div>
  </div>

</div>