<%= render 'shared/title' %>

<div class="sections index">
  <h2>Sections</h2>
  <%= link_to('<< To Admin Menu', access_menu_path, class: 'admin-menu') %>
  <br/>
  <%= link_to('<< To Pages', pages_path(subject_id: @page.subject.id), class: 'action index') %>
  <crud-table id="table-sections">
    <headers class="table-sections">
      <p>#</p>
      <p>Name</p>
      <p>Page ID</p>
      <p>Visible</p>
      <p>Actions</p>
    </headers>
    <data>
      <% @sections.each do |s| %>
        <data-segment class="table-sections">
          <p><%= s.position %></p>
          <p><%= s.name%></p>
          <p class='center tiny-cell'><%= s.page_id %></p>
          <p class='center tiny-cell'><%= status_tag(s.visible) %></p>
          <p class='actions'>
            <%= link_to('Show', section_path(s, page_id: @page.id), class: 'action show') %> |
            <%= link_to('Edit', edit_section_path(s, page_id: @page.id), class: 'action edit') %> |
            <%= link_to('Delete', delete_section_path(s, page_id: @page.id), class: 'action delete') %>
          </p>
        </data-segment>
      <% end %>
    </data>
  </crud-table>
  <%= link_to('Add new section', new_section_path(page_id: @page.id), class: 'action new')%>
</div>