<%= render 'shared/title' %>

<div class="sections new">
  <h2>Create new Section</h2>
  <%= link_to('<< Back to index', sections_path(page_id: @page.id), class: 'back-link') %>

  <%= form_for(@section, url: sections_path(page_id: @page.id)) do |f| %>
    <%= render(partial: 'form', locals: {f: f}) %>

    <div class="form-buttons">
      <%= f.submit('Create Section') %>
    </div>
  <% end %>
</div>