<%= error_messages_for(f.object) %>

<div class="table" summary="pages form fields">
  <div>
    <%= f.label(:position) %>
    <%= f.select(:position, 1..@page_count) %>
  </div>

  <div>
    <%= f.label(:name) %>
    <%= f.text_field(:name) %>
  </div>

  <div>
    <%= f.label(:permalink) %>
    <%= f.text_field(:permalink) %>
  </div>

  <div>
    <%= f.label(:subject) %>
    <%= f.object.subject.name %>
  </div>

  <div>
    <%= f.label(:visible) %>
    <%= f.check_box(:visible) %>
  </div>
</div>