<%= render 'shared/title' %>

<div class="pages edit">
  <h2>Update Page <%= @page.name %></h2>

  <%= render partial: 'back_to_index', locals: {subject: @subject} %>

  <%= form_for(@page, url: page_path(@page, subject_id: @subject.id)) do |f| %>
    <%= render(partial: 'form', locals: { f: f }) %>

    <div class="form-buttons">
      <%= f.submit('Update Page') %>
    </div>
  <% end %>
</div>