<%= render 'shared/title' %>

<div class="pages new">
  <h2>Create a new Page</h2>

  <%= render partial: 'back_to_index', locals: {subject: @subject} %>

  <%= form_for(@page, url: pages_path(subject_id: @subject.id)) do |f| %>
    <%= render(partial: 'form', locals: { f: f }) %>

    <div class="form-buttons">
      <%= f.submit('Create Page') %>
    </div>
  <% end %>
</div>