<%= render 'shared/title' %>

<div class="subjects index">
  <h2>Subjects</h2>
  <%= link_to('<< To Admin Menu', access_menu_path, class: 'admin-menu')%>
  <table id="table-subjects">
    <thead>
      <tr>
        <th>#</th>
        <th>Subject</th>
        <th>Visible</th>
        <th>Pages</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @subjects.each do |s| %>
        <tr>
          <td><%= s.position %></td>
          <td><%= s.name%></td>
          <td class='center'><%= status_tag(s.visible)%></td>
          <td class='center'><%= s.pages.size %></td>
          <td class='actions'>
            <%= link_to('View Pages', pages_path(subject_id: s.id), class: 'action show') %> |
            <%= link_to('Show',       subject_path(s),                    class: 'action show') %> |
            <%= link_to('Edit',       edit_subject_path(s),               class: 'action edit') %> |
            <%= link_to('Delete',     delete_subject_path(s),             class: 'action delete') %>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>
  <%= link_to('Add new subject', new_subject_path, class: 'action new')%>
</div>