<%= render 'shared/title' %>

<div class="subjects new">
  <h2>Create a new Subject</h2>

  <%= render partial: 'back_to_index' %>

  <%= form_for(@subject) do |f| %>
    <%= render(partial: 'form', locals: {f: f}) %>

    <div class="form-buttons">
      <%= f.submit('Create Subject', remote:true) %>
    </div>
  <% end %>
</div>