<!DOCTYPE html>
<html>
  <head>
    <title>Prophets CMS &spades; <%= @page_title || 'Admin Area' %></title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag('//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css', media: 'all') %>
    <%= stylesheet_link_tag('https://fonts.googleapis.com/css?family=Varela+Round&display=swap', media: 'all') %>
    <%= stylesheet_link_tag('application', media: 'all') %>
    <%= stylesheet_link_tag('admin', media: 'all') %>
    <%= favicon_link_tag('') %>
  </head>

  <body>
    <div id="header">
      <%= render partial: 'layouts/headers', locals: {origin: 'admin'} %>
      <div id="introduction">
        <h1 id="name">Prophets CMS</h1>
      </div>
    </div>

    <div id="main">
      <% if flash[:notice].present? %>
        <div class="notice">
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error].present? %>
        <div class="error">
          <%= flash[:error] %>
        </div>
      <% end %>
      <div id="content">
        <%= yield %>
      </div>
    </div>

    <%= render partial: 'layouts/footer' %>
  </body>

</html>