<!DOCTYPE html>
<html>
<head>
  <title>Prophets &spades; <%= "#{@page_title}" if @page_title %></title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag('//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css', media: 'all') %>
  <%= stylesheet_link_tag('https://fonts.googleapis.com/css?family=Varela+Round&display=swap', media: 'all') %>
  <%= stylesheet_link_tag('admin', media: 'all') %>
  <%= favicon_link_tag('') %>
</head>

<body>

  <div id="header">
    <%= render partial: 'layouts/headers' %>
    <div id="introduction">
      <h1 id="name">Danny Oosthoek</h1>
      <h2 id="job-title">Ruby on Rails Developer</h2>
    </div>
  </div>


  <div id="main">
    <div id="content">
      <%= yield %>
    </div>
  </div>

  <%= render partial: 'layouts/footer' %>

</body>

</html>